################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestCache/obj/TestCache.csproj.nuget.g.targets
